cscope.*
*.swap
.*.sw[po]
.sw[po]
*~
*.orig
*.diff
*.patch
*.rej
*.[1-9].gz
*.o
*.[psS]o
*.pico
lib*.so*
*.a
*.so.*
*.d
.depend
nbsdsrc/*
TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS
\#*#
CVS
!/.gitignore
.gitignore
.svn
minix-port.patch
*.worldstone.log
.worldstone*
usr.bin/mdocml/man/*.7
etc/passwd
etc/pwd.db
etc/spwd.db
releasetools/image
releasetools/kernel
releasetools/revision
share/zoneinfo/builddir
lib/libc/compat__*
.gdbinit

# MINIX AI Stage 4 generated artifacts
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4_eval
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4_gradient_check
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4_one_token_train
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4_train
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4_train_adapter
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_baseline_eval
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_baseline_full_context_eval
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_baseline_full_context_top1_eval
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_baseline_top1_eval
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_baseline_unadapted_generation
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_build
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_build_a4
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_validate
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_validate_a4
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_equivalence
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_cache_equivalence_a4
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_dataset_check
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d1_a4_zero_update_trainer
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d2_a4_one_step
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d3_a4_two_step
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d4_a4_trajectory
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d5_a4_repeat
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d6_a4_checkpoint
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_d7_a4_resume
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e_f1_a4_fixed_horizon
minix_ai_stage3_stories15m/minix_ai_stage4_train/*.o
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e-target-cache*.bin
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e-d6-a4-step5-checkpoint.bin
minix_ai_stage3_stories15m/minix_ai_stage4_train/stories15M.adapter*.bin
minix_ai_stage3_stories15m/minix_ai_stage4_train/stories15M.adapter*.ckpt
minix_ai_stage3_stories15m/minix_ai_stage4_train/stage4e-*-console.txt
/chat.json
